* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.hidden {
  display: none;
}

/* Question Screen View */

.correct {
  background-color: #4caf50;
  color: white;
}

.incorrect {
  background-color: #f44336;
  color: white;
}

:root {
  /** Dark theme primary colors */
  --clr-primary-a0: #12185a;
  --clr-primary-a10: #302d6b;
  --clr-primary-a20: #4a447d;
  --clr-primary-a30: #635c8f;
  --clr-primary-a40: #7c75a1;
  --clr-primary-a50: #958fb3;

  /** Dark theme surface colors */
  --clr-surface-a0: #121212;
  --clr-surface-a10: #282828;
  --clr-surface-a20: #3f3f3f;
  --clr-surface-a30: #575757;
  --clr-surface-a40: #717171;
  --clr-surface-a50: #8b8b8b;

  /** Dark theme tonal surface colors */
  --clr-surface-tonal-a0: #141319;
  --clr-surface-tonal-a10: #29282e;
  --clr-surface-tonal-a20: #403f44;
  --clr-surface-tonal-a30: #58585c;
  --clr-surface-tonal-a40: #727175;
  --clr-surface-tonal-a50: #8c8c8f;
}

body {
  color: #eee;
  background-color: var(--clr-surface-tonal-a0);
}
